<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lornoir</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
  </head>

  <body>
  <%-# Barre de menu -%>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar-dark bg-dark border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal text-light"><a class="text-light" href="/home">Lornoir</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="/gemmes">Pierres précieuses</a>
        <a class="p-2 text-light" href="/pierres">Pierres semi-précieuses</a>
        <a class="p-2 text-light" href="/pannier">Mon panier</a>
      </nav>
      <a class="btn btn-outline-light" href="/login">Connexion</a>
    </div>
  </header>

  <%= yield %>

  <div style="padding:0px 60px;">
    <hr>
  </div>

  <footer class="container" style="padding:0px 30px;">
    <p class="float-right"><a href="/about">À propos de nous</a></p>
    <p>&copy; 2017-2019 Lornoir, Inc. &middot;</p>
  </footer>
  </body>
</html>
