<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lornoir - Pierres semi-précieuses</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
        <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' %>
    </head>

  <body>
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="display-3">Pierres semi-précieuses</h1>
        </div>
    </div>
    
    <div style="padding:0px 60px;">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Nom</h2>
        <p class="lead">Txt</p>
      </div>
      <div class="col-md-5">
      <%= image_tag "peridot.jpg", :alt => "peridot", :width => "100%", :height => "100%", :focusable => "false" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Amétrine</h2>
        <p class="lead">L’amétrine est une variété gemme de quartz qui n&apos;est pas une variété d&apos;améthyste mais un mélange de citrine et d&apos;améthyste. Elle possède des couleurs très diverses qui vont des jaunes jusqu&apos;à la gamme des lilas, et des violets profonds.</p>
      </div>
      <div class="col-md-5 order-md-1">
      <%= image_tag "ametrines.jpg", :alt => "ametrines", :width => "100%", :height => "100%", :focusable => "false" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Diamant</h2>
        <p class="lead">Le diamant est l&apos;allotrope de haute pression du carbone, métastable à basses température et pression. Moins stable que le graphite et la lonsdaléite qui sont les deux autres formes de cristallisation du carbone, sa renommée en tant que minéral lui vient de ses propriétés physiques et des fortes liaisons covalentes entre ses atomes arrangés selon un système cristallin cubique. En particulier, le diamant est le matériau naturel le plus dur (avec l&apos;indice maximal et il possède une très forte conductivité thermique. Ses propriétés font que le diamant trouve de nombreuses applications dans l&apos;industrie comme outils de coupe et d&apos;usinage, dans les sciences comme bistouris ou enclumes à diamant et dans la joaillerie pour ses propriétés optiques.</p>
      </div>
      <div class="col-md-5">
      <%= image_tag "diamant.jpg", :alt => "diamant", :width => "100%", :height => "100%", :focusable => "false" %>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>